<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    <bean id="emp" class="com.lz.domain.Emp" autowire="byName">-->
<!--        <property name="age" value="21"/>-->
<!--        <property name="name" value="cy"/>-->
<!--    </bean>-->
    <bean id="emp" class="com.lz.domain.Emp" autowire="byType">
        <property name="age" value="21"/>
        <property name="name" value="cy"/>
    </bean>
    <bean id="dept" class="com.lz.domain.Dept">
        <property name="deptno" value="10"></property>
        <property name="area" value="北京"/>
    </bean>
</beans>