<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.lz.service.impl.EmpServiceImpl" id="someService"></bean>
    <bean class="com.lz.service.impl.EmpServiceImpl" id="someService1"></bean>


    <bean class="java.util.Date" id="date"></bean>
</beans>
<!--        spring-beans.xml是约束文件         -->